<%= link_to 'Voltar', vacancy_path %>

<h2>Editar Vaga <%= @vacancy.company %></h2>

<% if @vacancy.errors.any? %>
  <div class="alert">
    <p>Não foi possível editar a vaga</p>
    <p>Veja erros abaixo:</p>
    <ul>
    <% @vacancy.errors.full_messages.each do |v| %>
      <li><%= v %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render 'partials/vacancies/form' %>

